extends ./layout/default

block title 
  | Home

block main
  .main
    h3.main__title.mb-0 Билеты ПДД
    nav.mb-4
      a.text-uppercase.d-block(href='./add') Добавить вопрос/ответ
      a.text-uppercase.d-block(href='./stat') Статистика

    each item in data    
      .question.question_active
        .question__header
        .question__main          
          if item.have_image
            img.question__image(src=`./img/${item.q_id}.jpg`)
          p.question__text(data-question-id= `question-id-${item.q_id}`)= item.q_text
          
          each answ in item.a
            p.question__answer(data-answer-id= `answer-id-${answ.a_id}` data-question-id= `question-id-${answ.q_id}`)= answ.a_text
