extends ./layout/default

block title 
  | Stat

block main

  div.mb-3

    h3.mb-0 Статистика ответов
    a.text-uppercase.d-block(href='./') Домой
    a.text-uppercase.d-block(href='./add') Добавить вопрос/ответ

    //- D3.js
    .d3
    //- svg.mx-auto.d-flex

    