* {
    margin: 0;
}
.question {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}

.question__answer:hover {
    /* background: rgba(173, 216, 230, .5); */
    cursor: pointer;
}

.answer__right {
    background: lightgreen;
}

.answer__wrong {
    background: tomato;
}