* {
    margin: 0;
}
.question {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
    max-width: 50%;
}

.question_active {
    background-color: #fff;
}

.question_answered {
    background-color: #ddd;
}

.question__text {
    margin-bottom: 0.5em;
}

.question__image {
    width: 100%;
    margin-bottom: 0.5em;
}

.question__answer {
    border: 1px solid #ddd;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: white;
    border-radius: 3px;
}

.question_active .question__answer:hover {
    border: 1px solid #aaa;
    background: #f0f0f0;
    cursor: pointer;
}

.question__answer_right {
    background: lightgreen;
}

.question__answer_wrong {
    background: tomato;
}

.d3__item {
    margin-bottom: .2em;
}
.d3__text {
    margin-right: .2em;
}
.d3__text:after {
    content: '.'
}



.d3__counter_r {
    background: lightgreen;
}
.d3__counter_w {
    background: tomato;
}